:root {
    --md-red: 244,67,54;
	--md-red-50: 255,235,238;
	--md-red-100: 255,205,210;
	--md-red-200: 239,154,154;
	--md-red-300: 229,115,115;
	--md-red-400: 239,83,80;
	--md-red-500: var(----md-red);
	--md-red-600: 229,57,53;
	--md-red-700: 211,47,47;
	--md-red-800: 198,40,40;
	--md-red-900: 183,28,28;
	--md-red-a100: 255,138,128;
	--md-red-a200: 255,82,82;
	--md-red-a400: 255,23,68;
	--md-red-a700: 213,0,0;

	--md-pink: 233,30,99;
	--md-pink-50: 252,228,236;
	--md-pink-100: 248,187,208;
	--md-pink-200: 244,143,177;
	--md-pink-300: 240,98,146;
	--md-pink-400: 236,64,122;
	--md-pink-500: var(--md-pink);
	--md-pink-600: 216,27,96;
	--md-pink-700: 194,24,91;
	--md-pink-800: 173,20,87;
	--md-pink-900: 136,14,79;
	--md-pink-a100: 255,128,171;
	--md-pink-a200: 255,64,129;
	--md-pink-a400: 245,0,87;
	--md-pink-a700: 197,17,98;

	--md-purple: 156,39,176;
	--md-purple-50: 243,229,245;
	--md-purple-100: 225,190,231;
	--md-purple-200: 206,147,216;
	--md-purple-300: 186,104,200;
	--md-purple-400: 171,71,188;
	--md-purple-500: var(--md-purple);
	--md-purple-600: 142,36,170;
	--md-purple-700: 123,31,162;
	--md-purple-800: 106,27,154;
	--md-purple-900: 74,20,140;
	--md-purple-a100: 234,128,252;
	--md-purple-a200: 224,64,251;
	--md-purple-a400: 213,0,249;
	--md-purple-a700: 170,0,255;

	--md-deep-purple: 103,58,183;
	--md-deep-purple-50: 237,231,246;
	--md-deep-purple-100: 209,196,233;
	--md-deep-purple-200: 179,157,219;
	--md-deep-purple-300: 149,117,205;
	--md-deep-purple-400: 126,87,194;
	--md-deep-purple-500: var(--md-deep-purple);
	--md-deep-purple-600: 94,53,177;
	--md-deep-purple-700: 81,45,168;
	--md-deep-purple-800: 69,39,160;
	--md-deep-purple-900: 49,27,146;
	--md-deep-purple-a100: 179,136,255;
	--md-deep-purple-a200: 124,77,255;
	--md-deep-purple-a400: 101,31,255;
	--md-deep-purple-a700: 98,0,234;

	--md-indigo: 63,81,181;
	--md-indigo-50: 232,234,246;
	--md-indigo-100: 197,202,233;
	--md-indigo-200: 159,168,218;
	--md-indigo-300: 121,134,203;
	--md-indigo-400: 92,107,192;
	--md-indigo-500: var(--md-indigo);
	--md-indigo-600: 57,73,171;
	--md-indigo-700: 48,63,159;
	--md-indigo-800: 40,53,147;
	--md-indigo-900: 26,35,126;
	--md-indigo-a100: 140,158,255;
	--md-indigo-a200: 83,109,254;
	--md-indigo-a400: 61,90,254;
	--md-indigo-a700: 48,79,254;

	--md-blue: 33,150,243;
	--md-blue-50: 227,242,253;
	--md-blue-100: 187,222,251;
	--md-blue-200: 144,202,249;
	--md-blue-300: 100,181,246;
	--md-blue-400: 66,165,245;
	--md-blue-500: var(--md-blue);
	--md-blue-600: 30,136,229;
	--md-blue-700: 25,118,210;
	--md-blue-800: 21,101,192;
	--md-blue-900: 13,71,161;
	--md-blue-a100: 130,177,255;
	--md-blue-a200: 68,138,255;
	--md-blue-a400: 41,121,255;
	--md-blue-a700: 41,98,255;

	--md-light-blue: 3,169,244;
	--md-light-blue-50: 225,245,254;
	--md-light-blue-100: 179,229,252;
	--md-light-blue-200: 129,212,250;
	--md-light-blue-300: 79,195,247;
	--md-light-blue-400: 41,182,246;
	--md-light-blue-500: var(--md-light-blue);
	--md-light-blue-600: 3,155,229;
	--md-light-blue-700: 2,136,209;
	--md-light-blue-800: 2,119,189;
	--md-light-blue-900: 1,87,155;
	--md-light-blue-a100: 128,216,255;
	--md-light-blue-a200: 64,196,255;
	--md-light-blue-a400: 0,176,255;
	--md-light-blue-a700: 0,145,234;

	--md-cyan: 0,188,212;
	--md-cyan-50: 224,247,250;
	--md-cyan-100: 178,235,242;
	--md-cyan-200: 128,222,234;
	--md-cyan-300: 77,208,225;
	--md-cyan-400: 38,198,218;
	--md-cyan-500: var(--md-cyan) ;
	--md-cyan-600: 0,172,193;
	--md-cyan-700: 0,151,167;
	--md-cyan-800: 0,131,143;
	--md-cyan-900: 0,96,100;
	--md-cyan-a100: 132,255,255;
	--md-cyan-a200: 24,255,255;
	--md-cyan-a400: 0,229,255;
	--md-cyan-a700: 0,184,212;

	--md-teal: 0,150,136;
	--md-teal-50: 224,242,241;
	--md-teal-100: 178,223,219;
	--md-teal-200: 128,203,196;
	--md-teal-300: 77,182,172;
	--md-teal-400: 38,166,154;
	--md-teal-500: var(--md-teal);
	--md-teal-600: 0,137,123;
	--md-teal-700: 0,121,107;
	--md-teal-800: 0,105,92;
	--md-teal-900: 0,77,64;
	--md-teal-a100: 167,255,235;
	--md-teal-a200: 100,255,218;
	--md-teal-a400: 29,233,182;
	--md-teal-a700: 0,191,165;

	--md-green: 76,175,80;
	--md-green-50: 232,245,233;
	--md-green-100: 200,230,201;
	--md-green-200: 165,214,167;
	--md-green-300: 129,199,132;
	--md-green-400: 102,187,106;
	--md-green-500: var(--md-green);
	--md-green-600: 67,160,71;
	--md-green-700: 56,142,60;
	--md-green-800: 46,125,50;
	--md-green-900: 27,94,32;
	--md-green-a100: 185,246,202;
	--md-green-a200: 105,240,174;
	--md-green-a400: 0,230,118;
	--md-green-a700: 0,200,83;

	--md-light-green: 139,195,74;
	--md-light-green-50: 241,248,233;
	--md-light-green-100: 220,237,200;
	--md-light-green-200: 197,225,165;
	--md-light-green-300: 174,213,129;
	--md-light-green-400: 156,204,101;
	--md-light-green-500: var(--md-light-green);
	--md-light-green-600: 124,179,66;
	--md-light-green-700: 104,159,56;
	--md-light-green-800: 85,139,47;
	--md-light-green-900: 51,105,30;
	--md-light-green-a100: 204,255,144;
	--md-light-green-a200: 178,255,89;
	--md-light-green-a400: 118,255,3;
	--md-light-green-a700: 100,221,23;

	--md-lime: 205,220,57;
	--md-lime-50: 249,251,231;
	--md-lime-100: 240,244,195;
	--md-lime-200: 230,238,156;
	--md-lime-300: 220,231,117;
	--md-lime-400: 212,225,87;
	--md-lime-500: var(--md-lime);
	--md-lime-600: 192,202,51;
	--md-lime-700: 175,180,43;
	--md-lime-800: 158,157,36;
	--md-lime-900: 130,119,23;
	--md-lime-a100: 244,255,129;
	--md-lime-a200: 238,255,65;
	--md-lime-a400: 198,255,0;
	--md-lime-a700: 174,234,0;

	--md-yellow: 255,235,59;
	--md-yellow-50: 255,253,231;
	--md-yellow-100: 255,249,196;
	--md-yellow-200: 255,245,157;
	--md-yellow-300: 255,241,118;
	--md-yellow-400: 255,238,88;
	--md-yellow-500: var(--md-yellow);
	--md-yellow-600: 253,216,53;
	--md-yellow-700: 251,192,45;
	--md-yellow-800: 249,168,37;
	--md-yellow-900: 245,127,23;
	--md-yellow-a100: 255,255,141;
	--md-yellow-a200: 255,255,0;
	--md-yellow-a400: 255,234,0;
	--md-yellow-a700: 255,214,0;

	--md-amber: 255,193,7;
	--md-amber-50: 255,248,225;
	--md-amber-100: 255,236,179;
	--md-amber-200: 255,224,130;
	--md-amber-300: 255,213,79;
	--md-amber-400: 255,202,40;
	--md-amber-500: var(--md-amber);
	--md-amber-600: 255,179,0;
	--md-amber-700: 255,160,0;
	--md-amber-800: 255,143,0;
	--md-amber-900: 255,111,0;
	--md-amber-a100: 255,229,127;
	--md-amber-a200: 255,215,64;
	--md-amber-a400: 255,196,0;
	--md-amber-a700: 255,171,0;

	--md-orange: 255,152,0;
	--md-orange-50: 255,243,224;
	--md-orange-100: 255,224,178;
	--md-orange-200: 255,204,128;
	--md-orange-300: 255,183,77;
	--md-orange-400: 255,167,38;
	--md-orange-500: var(--md-orange);
	--md-orange-600: 251,140,0;
	--md-orange-700: 245,124,0;
	--md-orange-800: 239,108,0;
	--md-orange-900: 230,81,0;
	--md-orange-a100: 255,209,128;
	--md-orange-a200: 255,171,64;
	--md-orange-a400: 255,145,0;
	--md-orange-a700: 255,109,0;

	--md-deep-orange: 255,87,34;
	--md-deep-orange-50: 251,233,231;
	--md-deep-orange-100: 255,204,188;
	--md-deep-orange-200: 255,171,145;
	--md-deep-orange-300: 255,138,101;
	--md-deep-orange-400: 255,112,67;
	--md-deep-orange-500: var(--md-deep-orange);
	--md-deep-orange-600: 244,81,30;
	--md-deep-orange-700: 230,74,25;
	--md-deep-orange-800: 216,67,21;
	--md-deep-orange-900: 191,54,12;
	--md-deep-orange-a100: 255,158,128;
	--md-deep-orange-a200: 255,110,64;
	--md-deep-orange-a400: 255,61,0;
	--md-deep-orange-a700: 221,44,0;

	--md-brown: 121,85,72;
	--md-brown-50: 239,235,233;
	--md-brown-100: 215,204,200;
	--md-brown-200: 188,170,164;
	--md-brown-300: 161,136,127;
	--md-brown-400: 141,110,99;
	--md-brown-500: var(--md-brown);
	--md-brown-600: 109,76,65;
	--md-brown-700: 93,64,55;
	--md-brown-800: 78,52,46;
	--md-brown-900: 62,39,35;

	--md-grey: 158,158,158;
	--md-grey-50: 250,250,250;
	--md-grey-100: 245,245,245;
	--md-grey-200: 238,238,238;
	--md-grey-300: 224,224,224;
	--md-grey-400: 189,189,189;
	--md-grey-500: var(--md-grey);
	--md-grey-600: 117,117,117;
	--md-grey-700: 97,97,97;
	--md-grey-800: 66,66,66;
	--md-grey-900: 33,33,33;

	--md-blue-grey: 96,125,139;
	--md-blue-grey-50: 236,239,241;
	--md-blue-grey-100: 207,216,220;
	--md-blue-grey-200: 176,190,197;
	--md-blue-grey-300: 144,164,174;
	--md-blue-grey-400: 120,144,156;
	--md-blue-grey-500: var(--md-blue-grey);
	--md-blue-grey-600: 84,110,122;
	--md-blue-grey-700: 69,90,100;
	--md-blue-grey-800: 55,71,79;
	--md-blue-grey-900: 38,50,56;
}